name: .NET

on:
  create:
    tags:
      - "*"
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Get Release
      if: github.event_name == 'release'
      id: get-release
      uses: bruceadams/get-release@v1.2.0
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Install zip
      if: github.event_name == 'release'
      run: sudo apt-get install zip
    - name: Zip artifacts
      if: github.event_name == 'release'
      run: "mkdir ./release && mv ./MinecraftTunnel/bin/Release/* ./release/ && cd ./release && zip -qq -r ./release.zip *"
    - name: Upload release asset
      if: github.event_name == 'release'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.get-release.outputs.upload_url }}
        asset_path: ./release/release.zip
        asset_name: MinecraftTunnel-v${{ steps.get_version.outputs.VERSION }}.zip
        asset_content_type: application/zip
